<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Best Buy</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/">
      <img src="/img/logo.png">
    </a>

    <h1>
      Welcome to Best Buy!
    </h1>
    <p>
      Here are Best Buy you'll find the best in consumer electronics.
      We've got TVs, phones, desktops, laptops, cameras, printers, and
      all sorts of things. Come on in and see what you'll find!
    </p>

    <p>
      Browse our product database online to see what we've got in store
      for you!
    </p>

    <p>
      <a href="/products">Browse all <%= totalProducts %> products!</a>
    </p>

  </body>
</html>
